.calendar-column {
  display: inline-flex;
  width: 50px;
  @include center();
}

.day_header {
  display: flex;
  width: 50px;
  @include center();
}

.row {
  display: flex;
}

.calendar {
  height: 97.5px;
  overflow: scroll;

  .calendar-row {
    display: flex;
  }
}
