.date {
  flex: 1;
  position: relative;
  padding: 14px 0;
  text-align: center;

  &.is-active {
    .text-wrapper {
      color: $color-system-gray-gray99;
    }
  }

  .group {
    position: relative;
    width: 26px;
    height: 26px;
    font-family: $font-family-en;
  }

  .vector {
    height: 28px;
    margin: -1px;
    position: relative;
    width: 28px;
  }

  .text-wrapper {
    position: absolute;
    top: 4px;
    width: calc(100% - 2px);
    font-size: 12px;
    font-weight: 600;
    color: $color-system-gray-gray30;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
  }

  .frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 2px;
    justify-content: center;
    position: relative;
  }

  .ellipse {
    background-color: $color-system-gray-gray5;
    border-radius: 1.5px;
    height: 3px;
    position: relative;
    width: 3px;
  }
}
