.date {
  flex: 1;
  position: relative;
  padding: 14px 0;
  text-align: center;

  &.is-active {
    .ellipse {
      background-color: $color-system-gray-gray99;
    }
    .text-wrapper {
      color: $color-system-gray-gray99;
    }
  }

  &.date-bad {
    .ellipse {
      background-color: $color-system-gray-gray40;
    }
    .text-wrapper {
      color: $color-system-gray-gray40;
    }
  }

  &.date-notgood {
    .ellipse {
      background-color: $color-system-orange-orange60;
    }
    .text-wrapper {
      color: $color-system-orange-orange60;
    }
  }

  &.date-good {
    .ellipse {
      background-color: $color-system-yellow-yellow90;
    }
    .text-wrapper {
      color: $color-system-yellow-yellow90;
    }
  }

  &.date-nice {
    .ellipse {
      background-color: $color-system-lime-lime60;
    }
    .text-wrapper {
      color: $color-system-lime-lime60;
    }
  }

  .group {
    position: relative;
    width: 26px;
    height: 26px;
    font-family: $font-family-en;
    vertical-align: top;
  }

  .text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 12px;
    font-weight: 600;
    color: $color-system-gray-gray30;
    white-space: nowrap;
  }

  .frame {
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    gap: 2px;
    justify-content: center;
  }

  .ellipse {
    background-color: $color-system-gray-gray5;
    border-radius: 1.5px;
    height: 3px;
    position: relative;
    width: 3px;
  }
}
