.calendar-column {
  display: inline-flex;
  width: 50px;
  @include center();
}

.day_header {
  display: flex;
  @include center();
  width: 50px;
  font-weight: 300;
}

.row {
  display: flex;
}

.calendar {
  height: 310px;
  overflow: scroll;
  background: var(--surface, #141414);

  .calendar-row {
    display: flex;
  }
}
