.mission {
  $block: &;
  position: relative;
  width: 100%;
  letter-spacing: -0.3px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &.type-2x {
      #{$block} {
        &:not(:last-child) {
          flex-basis: calc(50% - 8px);
          min-height: 175px;
        }
      }

      #{$block}-label {
        .title {
          font-weight: 700;
        }
      }
    }
  }

  &-item {
    $item: &;
    padding: 20px;
    background: $surface-contents-bg;
    border-radius: 16px;
    &:not(:first-child) {
      margin-top: 16px;
    }

    &-inner {
      display: flex;
      gap: 16px;
      #{$item}-content {
        flex: 1;
      }
    }

    &-title {
      font-size: 16px;
      font-weight: 700;
      color: $color-system-gray-gray95;
      line-height: 20px;
    }

    &-description {
      font-size: 13px;
      color: $color-system-gray-gray50;
      line-height: 17px;
    }

    &-button {
    }
  }

  &-sub-list {
    &-item {
      gap: 12px;
      display: flex;
      font-size: 14px;
      line-height: 18px;
      &:not(:first-child) {
        margin-top: 12px;
      }
    }
    &-title {
      flex: 1;
      color: $color-system-gray-gray90;
    }
    &-date {
      color: $color-system-gray-gray40;
    }
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    background: none;
    cursor: pointer;

    &:checked {
      & + #{$block}-label {
        border-color: $color-system-gray-gray30;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba($color-system-gray-gray99, 0.04);
          content: "";
        }
      }
    }
  }

  &-label {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid transparent;
    background: $surface-contents-bg;
    padding: 20px;

    .title {
      font-size: 16px;
      font-weight: 500;
      color: $color-system-gray-gray95;
      line-height: 20px;
    }

    .description {
      margin-top: 4px;
      font-size: 13px;
      color: $color-system-gray-gray50;
      line-height: 17px;
    }

    img {
      margin-top: auto;
    }
  }
}
