.progress {
  $block: &;
  display: flex;
  overflow: hidden;
  height: 68px;
  margin-top: 8px;
  color: $color-system-gray-gray99;

  &.is-done {
    #{$block}-box {
      background: $color-system-indigo-indigo0;
    }
  }

  &-item {
    & + #{$block}-item {
      margin-top: 25px;
    }
  }

  &-list {
    @at-root .tab-area & {
      margin-right: -24px;
    }

    &.horizontal {
      display: flex;
      overflow-y: auto;
      max-width: 100%;
      margin-top: 24px;

      #{$block}-item {
        flex: 0 0 calc(50% - 10px);
        & + #{$block}-item {
          margin: 0 0 0 20px;
        }
      }
    }
  }

  &-box {
    flex: 1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: $surface-contents-bg;
    border-radius: 24px;

    &.is-active {
      background: $color-system-purple-purple40;
    }

    &.is-deactive {
      background: $color-system-gray-gray10;
    }
  }

  &-info {
    display: flex;
    font-size: 14px;
  }

  &-title {
    flex: 1;
    padding-right: 8px;
    font-weight: 400;
    color: $color-system-gray-gray90;
    @include text-ellipsis;
  }

  &-count {
    color: $color-system-gray-gray40;
  }
}
