.subtab {
  margin-bottom: 16px;

  &.has-border {
    border-bottom: 1px solid $color-system-gray-gray10;
    padding-bottom: 20px;
    margin-bottom: 20px;

    // :global(+ .tab-area) {
    //   padding-top: 0;
    //   border-top: 0;
    // }
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    font-family: $font-family-en;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: $color-system-gray-gray95;
  }

  .btn-more {
    margin-left: auto;
  }
}
